.aboutUs-heade-img {
  height: 200px;
  background-color: #0e82fd;
}
.aboutUs-heade-img_title {
  color: #fff;
}
.aboutUs-content_txt {
  font-size: 12px;
  line-height: 32px;
  text-align: justify;
}
