.blog-description {
  font-size: 12px;
}
.blog-title {
  font-size: 20px;
  position: relative;
  color: #0d47a1;
}
.blog-title::before {
  content: "+";
  width: 20px;
  height: 20px;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: -28px;
  right: 0;
  z-index: 2;
  color: #0d47a1;
}
.blog-imgBox {
  height: 200px;

}
.swiper-slide_blog {
  padding: 20px;
  height: 300px;
  border: 1px solid #0d47a1;
  border-radius: 4px;
}
.blog-description {
  font-size: 15px;
  color: #0d47a1;
  font-weight: 700;
}
