.comments-nameBox {
  font-size: 16px;
  color: #fff;
}
.comments-textBox_p {
  font-size: 14px;
  color: #fff;
}
.comments-title {
  position: relative;
  font-size: 20px;
  color: #0d47a1;
}
.comments-title::before {
  content: "+";
  width: 20px;
  height: 20px;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: -28px;
  right: 0;
  z-index: 2;
  color: #0d47a1;
}
.swiper-slide_comment {
  padding: 20px;
  background-color: #0d47a1;
  height: 300px;
  border: 1px solid #0d47a1;
  border-radius: 4px;
}
