.features-box-content h6 {
  font-size: 20px;
  color: #0d47a1;
}
.features-box-content p {
  font-size: 14px;
  line-height: 32px;
  color: #616161;
}
.features-box-item {
  border: 1px solid #0d47a1;
}
.features-box-item span {
  font-size: 15px;
  color: #0d47a1;
}
.check-icon {
  color: #0d47a1;
  font-size: 13px;
}
