@font-face {
  font-family: "myFont";
  src: url("../fonts/Yekan.eot") format("eot");
  src: url("../fonts/Yekan.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Yekan.ttf") format("truetype");
}
@font-face {
    font-family: "Austyke";
    src: url(../fonts/Austyke.ttf) format("truetype");
  }