.description-item_txt--p,
.member-item_txt {
  font-size: 15px;
  line-height: 32px;
  color: #0d47a1;
}
.location-links_inner--item span {
  font-size: 14px;
  margin-right: 7px;
}
.location-links_inner--item .location-icons,
.location-links_inner--item .email-icons,
.location-links_inner--item .phone-icons {
  font-size: 14px;
  color: #0d47a1;
}
.access-links_title,
.location-links_title {
  font-size: 15px;
  color: #0d47a1;
}
.access-links_inner--link,.location-links_inner--item  {
  font-size: 14px;
  color: #0d47a1;
}
#email-input {
  border: 1px solid #0d47a1;
}
#email-input {
    width: 100%;
    height: 40px;
  font-size: 12px;
  padding-right: 6px;
  color: #0d47a1;
  caret-color: #0d47a1;
  text-align: right !important;
}
#email-input::placeholder {
  color: #0d47a1;
}
.submit-btn {
  width: 80px;
  height: 40px;
  font-size: 14px;
  background-color: #0d47a1;
  color: #fff;
}
.subFooter-item_txt {
  font-size: 15px;
  margin-right: 10px;
  color: #0d47a1;
}
.subFooter-item_copyright {
  font-size: 16px;
}

.subFooter-item_social,
.subFooter-item_copyright {
  color: #0d47a1;
  font-size: 14px;
}
.subFooter-item_social li {
  margin-left: 22px;
}
.subFooter-item_social li a  {
    font-size: 15px;
    color: #0d47a1;
  }
  .subFooter-item_social li a .subFooter-item_icon {
    font-size: 22px !important;
    color: #0d47a1;
  }