.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  font-size: 18px;
}
.mySwiper-list_item {
  border: 1px solid #0d47a1;
  border-radius: 6px;
  background-color: #E1F5FE;
}
.introduce-title {
  position: relative;
  font-size: 20px;
  color: #0d47a1;
}
.introduce-title::before {
  content: "+";
  width: 20px;
  height: 20px;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: -28px;
  right: 0;
  z-index: 2;
  color: #0d47a1;
}
.doctor-name {
  font-size: 16px;
}
.doctor-Speciallity,
.doctor-NezamCode,
.doctor-city {
  font-size: 14px;
}
.doctor-name,
.doctor-Speciallity,
.doctor-NezamCode,.doctor-city  {
    color: #0d47a1 !important;
}

.doctor-reserve_box {
  border-radius: 6px;
  border: 1px solid #0d47a1;
  transition: all 0.5s ease;
  background-color: #0d47a1;
}
.doctor-reserve_box:hover {
  background-color: #0e82fd;
  color: #fff;
}
.doctor-reserve_box:hover a,
.doctor-reserve_box:hover .doctor-reserve_icon {
  color: #fff;
}
.doctor-reserve_box a {
  font-size: 16px;
  color: #fff;
  display: block;
  width: 100%;
  height: 100%;
}
.doctor-reserve_box .doctor-reserve_icon {
  font-size: 22px;
  color: #fff;
 margin-left: 15px;
}
