#appointments {
  height: auto;
  background-color: #0d47a1;
}
.appointments-items {
  background-color: #fff;
  border: 1px solid #0e82fd;
  font-size: 12px;
  color: #010101;
}
.appointments-items_btn {
  background-color: #0d47a1 !important;
  color: #fff;
  font-size: 12px;
  transition: all 0.5s ease-in;
}
.appointments-items_btn:hover {
  color: #fff;
  background-color: #0d6acd !important;
}

.header-nav_login--myReserve {
  background-color: #0d47a1;
  width: 100px;
  height: 40px;
  padding: 7px;
  margin-left: 6px;
  font-size: 15px;
  border-radius: 4px;
  transition: all 0.5s ease;
}
.header-nav_login--myReserve:hover {
  background-color: rgb(27 101 179 / 0.842);
}