#searchBar-wrapper {
  height: 60px;
  border-radius: 10px;
  border: 1px solid #0d47a1;
}
.searchBar-wrapper_form input {
  border-right: 1px solid rgb(14 75 140 / 0.412);
  padding-right: 10px;
  caret-color: #0d47a1;
  font-size: 14px;
  background-color: #E1F5FE;
}
.searchBar-wrapper_form div span {
  padding-right: 10px;
  font-size: 15px;
  width: 100px;
  color: #0d47a1;
}
#search-btn {
  background-color: #0d47a1;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 15px;
  color: #fff;
  transition: all 0.5s ease-in;
}
#search-btn:hover {
  background-color: rgb(18 109 206 / 0.9);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}
