@import "./_Fonts.css";
@import "./_Loader.css";
@import "./_DedicatedScroll.css";
@import "./_Navbar.css";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "myFont";
  border: none;
  outline: none !important;
  list-style: none;
  outline: none;
  font-weight: normal;
}
html {
  scroll-behavior: smooth !important;
}
a,
a:active,
a:hover {
  text-decoration: none;
}
::placeholder{
  font-size: 14px
}
.star{
  cursor: pointer;
}
.custom-color{
  color:#0d47a1; 
}
.blue-bg{
  background-color: #0d47a1;
}
.greenLight-bg{
  background-color: #B3E5FC;
}
.footer-shadow {
  box-shadow: 0px -4px 15px rgba(13, 71, 161, 0.15); 
}
.logoText{
  color: #0d47a1;
  font-family: "Austyke" !important;
}
.bg-custom{
  background-color: #E1F5FE;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
